@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header > ul{
  display: flex;
  gap: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  flex: 1;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer > ul{
  display: flex;
  gap: 20px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
