body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.content .sidebar ul{
  display: flex;
  width: 200px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  gap:10px;
}

.content{
  display: flex;
  flex:1;
}

.content .cards{
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  gap: 50px;
  margin: 30px 0;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid grey;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 200px;
  padding: 10px;
}